<div class="container text-center" th:fragment="pie-pagina">
	          <!-- Logo y redes -->
	              <div class="mb-2"> <i class="fas fa-landmark me-2"></i><strong>Museando</strong></div>

	          <!-- Enlaces rápidos -->
	              <div class="mb-2 small">
	                  <a th:href="@{/}" class="text-white text-decoration-none hover-yellow me-2">Inicio</a> |
	                  <a th:href="@{/museos/paginado}" class="text-white text-decoration-none hover-yellow me-2">Museos</a> |
	                  <a href="acerca.html" class="text-white text-decoration-none hover-yellow me-2">Acerca</a>
	              </div>
	          <!-- Derechos -->
	              <div class="small text-white-50"> &copy; 2025 Museando. Todos los derechos reservados System Break. </div>
</div>

